    @model IEnumerable<project.Models.categories>

@{
    ViewData["Title"] = "list";
}

@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<style>
    body {
        background-color: rgba(244, 233, 220, 0.411);
    }

    .err {
        color: red;
    }
</style>
<h1 class=" text-center">Categories List</h1>
<hr class="mb-5" />
<div class="container ">
   

<table class="table ">
    <thead>
        <tr class="bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody class="bg-light">
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
           
          
        </tr>
}
    </tbody>
</table>
</div>