@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="jumbotron text-center bg-dark text-white" style="height: 95vh">
    <div style="padding-top: 25vh">
        <h1 style="font-size: 64px">welcome to our website</h1>
        <p>Discover a world of books at our online store!</p>
        <a id="btn" class="btn btn-light" asp-action="login">explore our collections</a>
    </div>
</div>

