@{
    ViewData["Title"] = "Access Denied";
}

@{
    Layout =null;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - project</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/project.styles.css" asp-append-version="true" />
<h1 class="text-center" style="margin-top:30vh;">Sorry, We Are Not Accepting New Orders ATM</h1>
<h6 class="text-center"><a asp-controller="allusers" asp-action="customerHome">Back Home</a></h6>